@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Medium.ttf');
	font-weight: 500;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
