@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Bold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Medium.ttf');
	font-weight: 500;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	margin-left: 10px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e3e3e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
